.card {
    background: #f2f0e8
;
    border-radius: 14px;
    overflow: hidden;
    width: 320px;
    padding-bottom: 20px;
}
body {
    background: #929761; 
  }
  

.section {
    padding: 20px;
}

.card-content {
    padding: 20px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #6a5f4b;
    font-weight: 500;
}

.card-container
{
display: flex;
}

.card-container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;   
}
.section {
    max-width: 1400px;
    margin: auto;
    padding: 60px 20px;
}

.card-container-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(360px, 1fr));
    gap: 40px;
}

.card {
    width: 100%;
    max-width: 420px;
}
h1 {
    color: #ffffff; 
    font-size: 42px;
    margin-left: 40px;
    text-align: center;
}
.locus-section {
   
    padding: 60px 0;
}

.locus-container {
    width: 85%;
    margin: 0 auto;
    background: #e9e5dc; 
    padding: 50px;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    
}

.locus-left {
    width: 60%;
}

.locus-left h2 {
    font-size: 42px;
    font-weight: 500;
    color: #6d5a4a; 
    margin-top: 0;
}

.locus-left p {
    font-size: 17px;
    line-height: 1.6;
    color: #4e4a41;
}

.locus-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locus-features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.locus-features li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
    font-size: 16px;
    color: #4e4a41;
}

.locus-features img {
    width: 26px;
    height: 26px;
}

.book-button {
    background: #55602f;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

